<!-- listado-tareas-->
<h2>{{titulo}}</h2>
<div class="border p-2 mb-2 bg-light text-center">
    <input type="text" ng-model="nuevaTarea" ng-attr-autofocus class="form-control-lg mb-2"
        placeholder="Descripcion de la tarea" size="30">
    <button ng-click="crearTarea()" class="btn btn-lg mb-2 btn-primary"><i class="fas fa-plus"></i></button>
    <input type="text" ng-model="busqueda.descripcion" class="form-control-lg" id="busqueda"
        placeholder="Buscar por Nombre">
    <button class="btn btn-lg mb-2 btn-success"><i class="fas fa-search"></i></button>
    <p class="text-danger">{{mensajeValidacion}}</p>
</div>
<div class="order p-2 text-center">
    <input type="radio" ng-model="busqueda.completada" ng-checked="true" value=""> Todas
    <input type="radio" ng-model="busqueda.completada" value="true"> Completadas
    <input type="radio" ng-model="busqueda.completada" value="false"> Incompletas
</div>
<p ng-show="tareas.length ==0" class="text-warning">Cargando tareas...</p>
<ul class="list-group">
    <li class="list-group-item {{(tarea.completada)?'tachado':''}}" ng-repeat="tarea in tareas | filter:busqueda">
        <span ng-hide="mostrarEditar" class="float-left">
            <input type="checkbox" ng-checked="{{tarea.completada}}" ng-click="completarTarea(tarea)" class="mr-2">
            <span class="mr-2 badge badge-pill {{(!tarea.completada)?'badge-primary':'badge-secondary'}}">{{tarea.id}}</span>
        </span>
        <input type="text" class="form-control mb-2 w-75 {{(mostrarEditar)?'':'no-editable'}} float-left"
            ng-readonly="!mostrarEditar" ng-model="tarea.descripcion">
        <i class="fas fa-trash-alt float-right ml-2" ng-click="eliminarTarea(tarea)"></i>
        <i class="fas fa-pencil-alt float-right" ng-click="mostrarEditar = !mostrarEditar; oldDescripcion = tarea.descripcion"></i>
        <span ng-show="mostrarEditar">
            <button class="btn btn-success" ng-click="editarTarea(tarea)">Guardar</button>
            <button class="btn btn-danger" ng-click="mostrarEditar = !mostrarEditar; tarea.descripcion = oldDescripcion">Cancelar</button>
        </span>
    </li>
</ul>
<!-- end listado-tareas-->