<footer class="bg-dark p-2 text-white fixed-bottom">
    <span>Autor: <b>{{constantes.autor}}</b></span>
    <span><a ng-href="{{constantes.github}}" target="_blank"><i class="fab fa-github"></i></a></span>
    <span class="float-right">Version: {{constantes.version}}</span>
     <!-- JS-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</footer>